*,
*::after,
*::before
{
	box-sizing: border-box;
}

html{
    font-family: Arial;
}

.main{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.menu{
    background-color: #00B8A9;
    color: #fff;
    width: 360px;
    padding: 40px 40px 40px 40px;
    min-height: 100%;
}

.logo{
    display: flex;
}

.logo__img{
    width: 40px;    
}

.logo__title{
    font-size: 35px;
    margin-left: 10px;
}

.menu__items{
    margin: 70px 0 0 54px;
}

.menu__item{
    margin: 25px 0;
}

.menu__item a{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    outline: none;
}

.menu__item a::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: #FFDE7D;
    height: 2px;
    bottom: -2px;
    transition: all .2s;
}
.menu__item a:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

/* my additions */

.selected_menu, .selected {
    border-bottom: 3px solid #FFDE7D;
}

.menu__item-settings {
    margin-top: 70px;
}

.icon-select, .icon-select option {
    font-family: 'FontAwesome', 'Second Font name';
}

.alarm-info {
    font-size: 36px;
    color: #F6416C;
    margin-top: 80px;
    text-align: center;
}

.fa-exclamation-triangle, 
.fa-surprise, 
.fa-question,
.fa-exclamation {
    margin: 0px 20px;
}

.fa-home,
.fa-users-cog,
.fa-tasks,
.fa-chart-line {
    margin-right: 10px;
}

/**/

.content{
    width: 100%;
    padding: 40px 50px;
}

.content__balance{
    text-align: right;
    
}

.content__balance-title{
    font-size: 24px;
    font-weight: 500;
}

.content__balance-title{
    font-size: 24px;
    font-weight: 500;
}

.content__balance-number{
    font-size: 28px;
    font-weight: 700;
    position: relative;
    margin-top: 20px;
    color: #F6416C;
}

.content__balance-number::before{
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    content: "$";
    right: 110px ;
}

.content__tabs{
    margin-top: 130px;
}

.content__tab{
    width: 195px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 55px;
}

.content__tab.active{
    border-bottom: 2px solid #FFDE7D;
}

.content__filters{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.content__filter{
    display: flex;
    margin: auto 0;
}

.content__filter-title{
    margin-right: 25px;
}

.content__filters-select{
    border: 0;
    outline: none;
    font-size: 18px;
}

.content__filters-btn{
    width: 180px;
    height: 40px;
    text-align: center;
    padding: 10px 10px 5px;
    background-color: #FFDE7D;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    outline: none;
    text-decoration: none;
    transition: all .5s;
}

.content__filters-btn:hover{
    background-color: #ffcf3d;
}

.radio-filter__content{
    display: flex;
}

.radio-filter__content-box{
    margin-right: 15px;
}

.radio-filter__content-label{
    font-size: 18px;
}

.table__head{
    display: flex;
    margin-top: 70px;
    background-color: #00B8A9;    
    color: #fff;
    font-weight: 600;
    padding: 12px 0;
    font-size: 20px;
    justify-content: space-between;
}

.table__head-item{
    display: flex;
}

.table__head-item.author,
.table__head-item.action
{
    text-align: center;
    display: block;
}

.table__head-img{
    width: 15px;
    margin-left: 10px;
    margin-top: 3px;
}

.table__head-btn:hover{
    cursor: pointer;
}

.table__head-img.active{
    transform: rotate(-180deg);
}

.table__head-btn{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__line{
    display: flex;
    padding: 12px 0;
    text-align: center;
    vertical-align: middle;
    justify-content: space-between;
    font-size: 20px;
    line-height: 20px;
}

.table__line:nth-child(even){
    background-color: #edfffe;
}

.table__content-item{
    margin: auto 0;
}

.table__content-img{
    color: #00B8A9;
    font-size: 36px;
}

.category{
    width: 150px;
    margin-right: 80px;
    margin-left: 40px;
    text-align: left;
}
.description{
    width: 150px;
    margin-right: 80px;
}
.date{
    width: 100px;
    margin-right: 80px;
}
.money{
    width: 100px;
    margin-right: 80px;
}
.author{
    width: 100px;
    margin-right: 80px;
}
.action{
    width: 100px;
    margin-right: 40px;
}

.table__content-img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.table__author-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.table__btn-img{
    width: 20px;
    height: 20px;
}

.table__content-btn{
    margin: 0 10px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__content-btn:hover{
    cursor: pointer;
}

.footer{
    text-align: center;
    color: #e4e1e1;
    font-size: 16px; 
    position: absolute;
    bottom: 20px;
}

/*form*/

.content__up-form{
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.content__form{
    width: 300px;
}

.content__form-title{
    font-size: 28px;
    color: #757575;
    margin-bottom: 20px;
}

.content__form-input,
.content__form-select,
.content__form-date
{
    width: 100%;
    margin: 10px 0 25px;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid #FFDE7D;
    outline: none;
    font-size: 18px;
    color: #757575;
}


.content__form-btn{
    width: 100%;
    height: 35px;
    text-align: center;
    padding: 10px 10px 5px;
    background-color: #FFDE7D;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    outline: none;
    text-decoration: none;
    transition: all .5s;
    display: inline-block;
    cursor: pointer;
}
    
.content__form-btn:hover{
    background-color: #ffcf3d;
}

.content__form-label{
    margin-bottom: 15px;
}

.content__form-select{
    padding: 10px 0;

}

/*form user*/
.content__form-wrapper{
    display: flex;
    justify-content: space-between;
}

.form__checkbox-lable{
    margin: 20px 0;
}

.checkbox__wrapper{
    position: relative;
    margin: 25px 0;
}

.checkbox__lable{
    color: #757575;
    font-size: 18px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom-checkbox:checked+label::before {
    border-color: #FFDE7D;
    background-color: #FFDE7D;
  }

  .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #FFDE7D;
    background-color: #fff6dc;
  }

  .user__img-wrapper{
    margin-left: 130px;
    width: 300px;
}

  .user__img{
      width: 300px;
      height: 300px;
      border-radius: 5px;
      padding: 5px;
      border: 1px solid #FFDE7D;
      border-radius: 5px;
  }

  .user__img-size {
    width: 288px;
    height: 288px;
    border-radius: 5px;
  }

  .user__img-descr{
    color: #757575;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .user__img-descr-wrapper{
      margin-top: 30px;
      border-bottom: 1px solid #FFDE7D;
      width: 100%;
  }

  .fa-phone, .fa-user {
      margin-right: 10px;
      color: #F6416C;
  }

  .display-inline {
      display: flex;
      flex-direction: row;
  }

  /* charts */

  .content-charts {
      display: flex;
      flex-direction: column;
  }

  .charts {
      display: flex;
      flex-direction: row;

  }

   .donut, .bar {
       padding: 20px;
       border: 1px solid #FFDE7D;
       border-radius: 5px;
   }

  .bar {
      margin-left: 50px;


  }